@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
	--color--primary: #6f6af8;
	--color-white: #ffff;
	--color-gray-100: hsl(220, 20%, 10%, 5%);
	--color-gray-200: rgba(20, 24, 31, 0.1);
	--color-gray-300: hsl(220, 20%, 10%, 25%);
	--color-gray-500: hsl(220, 20%, 10%, 50%);
	--color-gray-700: #252542;
	--color-gray-900: #0c0c22;

	--color-bg: hwb(240 95% 0%);

	--transition: all 300ms ease;

	--container-width-lg: 84%;
	--container-width-md: 92%;
	--form-width: 50%;

	--radius-1: 0.3rem;
	--radius-1: 0.6rem;
	--radius-1: 1rem;
	--radius-1: 2rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
}

.nav__logo {
	width: 3rem;
	display: block;
}

img {
	display: block;
	object-fit: cover;
	width: 100%;
}
